body {
    font-family: 'Noto Sans', sans-serif;
    color: #007bff;
}


.header {
    font-size: 36px;
    text-align: center;
}

.subheader {
    font-size: 24px;
    text-align: center;
}

.footer {
    color: rgb(39, 39, 68);
}

.footer_youtube {
    width: 25px;
    height: 16px
}

.jumbotron {
    background-attachment: fixed;
    background-image: url(cover.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: inherit;
    color: white;
    text-shadow: 1px 1px 1px black;
  }

.margintop {
    margin-top: 20px;
}

.marginbottom {
    margin-bottom: 20px;
}



h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.tech_background_1 {
    background-color: #007bff;
    color: white;
    margin-top: 20px;
}

.title {
    margin-top: 20px;
}

.content {
    font-size: 20px;
    font-weight: 1;
    color: whitesmoke;
}

.content-2 {
    font-size: 20px;
    font-weight: 1;
    text-align: center;
}

.img {
    height: 320px;
}